.carousel_head {
  width: 100%;
  margin-top: 100px;
  /* margin-left: -20px; */
  /* padding: 10px 10px; */
}
.carousel_item {
}

/* media query */
@media (max-width: 768px) {
  .carousel_head {
    margin-left: 0px;
  }
}
